<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %date %logger{0}:%thread %message%n</pattern>
        </encoder>
    </appender>

    <!-- Some libraries are just too verbose -->
    <logger name="akka" level="INFO"/>
    <logger name="native-zk-connector" level="WARN" />
    <logger name="org.apache.zookeeper" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
</configuration>